@page
@model course.Pages.UpdateModel
@{
}
<html>
    <body>
        <form method="post" asp-page ="Update">
        <label asp-for="@Model.Products.Id"></label>
        <input type="text" asp-for="@Model.Products.Id" />
        <label asp-for="@Model.Products.Name"></label>
        <input type="text" asp-for="@Model.Products.Name" />
        <label asp-for="@Model.Products.Description"></label>
        <input type="text" asp-for="@Model.Products.Description" />
        <label asp-for="@Model.Products.ProductImage"></label>
        <input type="text" asp-for="@Model.Products.ProductImage" />
        <label asp-for="@Model.Products.ProductAlt"></label>
        <input type="text" asp-for="@Model.Products.ProductAlt" />
        <label asp-for="@Model.Products.Price"></label>
        <input type="text" asp-for="@Model.Products.Price" />
        <input type="submit" value="Save" />
        </form>
    </body>
</html>